.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 170px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 25px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(15, 15, 40);
  color: #1f2124;
}

.toolbar{
  color: white;
}

.mat-mdc-list-base {
  --mdc-list-list-item-label-text-color: #dcdcdc;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.names{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
} 

.colorbar{
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  color: rgba(15, 15, 40, 0.978);
  border-radius: 15px;
  padding-left: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 25px;
  margin-bottom: 20px;
}

.desing{
  padding: 40px;
  padding-top: 20px;
}