<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="toolbar">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/Mecanicos">Mecanicos</a>
      <a mat-list-item href="/Clientes">Clientes</a>
      <a mat-list-item href="/Vehiculos">Vehiculos</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="desing">
    <mat-toolbar class="colorbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>MECANICO</span>
      <div class="names">
        <ngx-avatars name="Jose Ronaldo"></ngx-avatars>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
